/TA1S2016_Java/nbproject/private/
/TA1S2016_Java/build/
/TA1S2016_Java - Copy/build/
/TA1S2016_Java - Copy/nbproject/private/
TA1S2016_CSharp/TA1S2016_CSharp/bin/Debug/TA1S2016_CSharp.exe.config
TA1S2016_CSharp/TA1S2016_CSharp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TA1S2016_CSharp/TA1S2016_CSharp/obj/Debug/TA1S2016_CSharp.csproj.FileListAbsolute.txt
TA1S2016_CSharp/TA1S2016_CSharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TA1S2016_CSharp/TA1S2016_CSharp/bin/Debug/TA1S2016_CSharp.vshost.exe
TA1S2016_CSharp/TA1S2016_CSharp/bin/Debug/TA1S2016_CSharp.vshost.exe.config
TA1S2016_CSharp/TA1S2016_CSharp/bin/Debug/TA1S2016_CSharp.vshost.exe.manifest
TA1S2016_CSharp/TA1S2016_CSharp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TA1S2016_CSharp/TA1S2016_CSharp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TA1S2016/LINQ/bin/Debug
/TA1S2016/LINQ/obj/Debug
/TA1S2016/Contatos/bin/x86/Debug
